<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Applications I have sent in</title>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    </head>
    <body>
    <div class="container text-center">
        <div><h1>Application List</h1></div>

        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Details</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <th:block th:each="application: ${applicationList}">
                        <tr>
                            <td>[[${application.id}]]</td>
                            <td>[[${application.title}]]</td>
                            <td>[[${application.company.name}]]</td>
                            <td>[[${application.details}]]</td>
                            <td>
                                <a th:href="@{'/application/edit/' + ${application.id}}">Edit</a>
                                &nbsp;
                                <a th:href="@{'/application/delete/' + ${application.id}}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>
    </body>
</html>