<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Positions</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>
<body>
<div class="container text-center">
    <div><h1>All Positions</h1></div>

    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Company</th>
                <th>Details</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="position: ${listPositions}">
                <tr>
                    <td>[[${position.id}]]</td>
                    <td>[[${position.name}]]</td>
                    <td>[[${position.company.name}]]</td>
                    <td>[[${position.details}]]</td>
                    <td>
                        <a th:href="@{'/positions/edit/' + ${position.id}}">Edit</a>
                        &nbsp;
                        <a th:href="@{'/positions/delete/' + ${position.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>