<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>Add Recruiter</title>
      <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  </head>
  <body>
    <div class="container text-center">
      <div th:if="${recruiter.id == null}"><h1>Add Recruiter</h1></div>
      <div th:unless="${recruiter.id == null}"><h1>Edit Recruiter</h1></div>

      <form th:action="@{/recruiters/save}" th:object="${recruiter}" method="post"
        style="max-width: 600px; margin: 0 auto">

        <input type="hidden" th:field="*{id}" th:value="${recruiter.id}">

        <div class="m-3">
          <div class="form-group row p-2">
            <label class="col-form-label col-sm-4">Recruiter Name: </label>
            <div class="col-sm-8">
              <label>
                <input type="text" th:field="*{name}" class="form-control" required>
              </label>
            </div>
          </div>

          <div class="form-group row p-2">
            <label class="col-form-label col-sm-4">Choose company: </label>
            <div class="col-sm-8">
              <label>
                <select th:field="*{companies}" class="form-control" multiple="multiple" required>
                  <th:block th:each="company : ${companyList}">
                    <option th:text="${company.name}" th:value="${company.id}"></option>
                  </th:block>
                </select>
              </label>
            </div>
          </div>

          <div class="text-center p-3">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>